<h1>Here are the yarns</h1>
<p>Oh, no yarns? TOO BAD!!!</p>
<h1>Articles</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
      <a href="<%= yarns_path(article) %>">
        <%= article.name %>
      </a>
      <%= article.weight %> <br>
      <%= article.fiber %> <br>
      <%= article.yardage %> <br>
    </li>
  <% end %>
</ul>

<%= link_to "New Yarn", {:controller => 'yarns', :action => 'new'} %>