<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<ul>
  <% @articles.each do |article| %>
    <li>
      <a href="<%= yarns_path(article) %>">
        <%= article.name %>
      </a>
      <%= article.weight %> <br>
      <%= article.fiber %> <br>
      <%= article.yardage %> <br>
    </li>
  <% end %>
</ul>

<%= link_to "New Yarn", {:controller => 'yarns', :action => 'new'} %>