<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>


  <% @articles.each do |article| %>
  <div class="card" style="width: 18rem;">
  <div class="card-body">
<h5 class="card-title">      <a href="<%= yarns_path(article) %>">
        <%= article.name %>
      </a></h5>
<h6 class="card-subtitle mb-2 text-muted"><%= article.weight %> <br></h6>

      <%= article.fiber %> <br>
      <%= article.yardage %> <br>
  </div>
</div>
  <% end %>


<%= link_to "New Yarn", {:controller => 'yarns', :action => 'new'} %>